In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
import pickle
import os

#os.chdir(os.path.dirname(__file__))

data = pd.read_csv('Advertising.csv', index_col=0)

X_train, X_test, y_train, y_test = train_test_split(data.drop(columns=['sales']),
                                                    data['sales'],
                                                    test_size = 0.20,
                                                    random_state=42)

model = Lasso(alpha=6000)
model.fit(X_train, y_train)

pickle.dump(model, open('model.pkl', 'wb'))

print("RMSE: ", np.sqrt(mean_squared_error(y_test, model.predict(X_test))))

RMSE:  1792.5472430763832

In [3]:
data.head()

      TV  radio  newspaper    sales
0  230.1   37.8       69.2  22100.0
1   44.5   39.3       45.1  10400.0
2   17.2   45.9       69.3   9300.0
3  151.5   41.3       58.5  18500.0
4  180.8   10.8       58.4  12900.0